In [43]:
## starting model refinement and testing in this notebook 

# Import our dependencies
import pandas as pd
import os 


# Read in our ramen data
housing_df = pd.read_csv("../Resources/Predictions_Resources/trans_with_state1HOT_Zhvi_city.csv")
# Read in our ramen data
housing_df
# # Print out the Country value counts
# country_counts = ramen_df.Country.value_counts()
# country_counts

,Unnamed: 0,Unnamed: 0.1,2006-01-31,2006-02-28,2006-03-31,2006-04-30,2006-05-31,2006-06-30,2006-07-31,2006-08-31,...,41,42,43,44,45,46,47,48,49,50
0,0,0,500592.0,506267.0,508485.0,510606.0,513148.0,518144.0,521337.0,524195.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1,1,624755.0,630004.0,636285.0,640154.0,646316.0,650327.0,653364.0,654803.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2,2,128913.0,128924.0,129169.0,129307.0,129793.0,130181.0,130661.0,131035.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,3,3,280994.0,283177.0,284850.0,286799.0,287944.0,288968.0,289628.0,290446.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,4,4,119832.0,120418.0,121067.0,121616.0,122124.0,122762.0,123581.0,124480.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17611,17611,17611,89296.8,94795.6,95548.8,96248.0,96660.6,96530.4,96697.6,96949.4,...,0.0,0.2,0.0,0.0,0.0,0.0,0.0,0.2,0.0,0.0
17612,17612,17612,31564.8,31502.2,31394.2,31423.0,31495.6,31615.2,31755.6,31772.4,...,0.0,0.0,0.2,0.0,0.2,0.0,0.0,0.0,0.0,0.0
17613,17613,17613,82662.8,82745.6,83045.4,83562.4,84306.0,85142.4,85776.2,86188.8,...,0.0,0.0,0.0,0.0,0.4,0.0,0.0,0.0,0.0,0.0
17614,17614,17614,64912.2,65107.6,65355.4,65525.6,65801.2,66059.8,66410.4,66686.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
17615,17615,17615,122430.0,122881.2,123243.6,123591.2,123938.4,124402.4,124810.2,125573.2,...,0.0,0.0,0.2,0.2,0.0,0.0,0.0,0.0,0.0,0.0

In [44]:
## getting rid of initial columns un_needed 

housing_df.drop(['Unnamed: 0',"Unnamed: 0.1"],axis=1, inplace=True)
housing_df

,2006-01-31,2006-02-28,2006-03-31,2006-04-30,2006-05-31,2006-06-30,2006-07-31,2006-08-31,2006-09-30,2006-10-31,...,41,42,43,44,45,46,47,48,49,50
0,500592.0,506267.0,508485.0,510606.0,513148.0,518144.0,521337.0,524195.0,524801.0,522607.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,624755.0,630004.0,636285.0,640154.0,646316.0,650327.0,653364.0,654803.0,652556.0,651129.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,128913.0,128924.0,129169.0,129307.0,129793.0,130181.0,130661.0,131035.0,131564.0,132139.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,280994.0,283177.0,284850.0,286799.0,287944.0,288968.0,289628.0,290446.0,290953.0,291373.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,119832.0,120418.0,121067.0,121616.0,122124.0,122762.0,123581.0,124480.0,125401.0,126236.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17611,89296.8,94795.6,95548.8,96248.0,96660.6,96530.4,96697.6,96949.4,97230.4,97392.2,...,0.0,0.2,0.0,0.0,0.0,0.0,0.0,0.2,0.0,0.0
17612,31564.8,31502.2,31394.2,31423.0,31495.6,31615.2,31755.6,31772.4,31720.2,31715.2,...,0.0,0.0,0.2,0.0,0.2,0.0,0.0,0.0,0.0,0.0
17613,82662.8,82745.6,83045.4,83562.4,84306.0,85142.4,85776.2,86188.8,86511.4,86770.6,...,0.0,0.0,0.0,0.0,0.4,0.0,0.0,0.0,0.0,0.0
17614,64912.2,65107.6,65355.4,65525.6,65801.2,66059.8,66410.4,66686.0,66920.4,66971.6,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
17615,122430.0,122881.2,123243.6,123591.2,123938.4,124402.4,124810.2,125573.2,126252.8,127173.2,...,0.0,0.0,0.2,0.2,0.0,0.0,0.0,0.0,0.0,0.0

In [36]:
columns = housing_df.columns.values
columns

array(['2006-01-31', '2006-02-28', '2006-03-31', '2006-04-30',
       '2006-05-31', '2006-06-30', '2006-07-31', '2006-08-31',
       '2006-09-30', '2006-10-31', '2006-11-30', '2006-12-31',
       '2007-01-31', '2007-02-28', '2007-03-31', '2007-04-30',
       '2007-05-31', '2007-06-30', '2007-07-31', '2007-08-31',
       '2007-09-30', '2007-10-31', '2007-11-30', '2007-12-31',
       '2008-01-31', '2008-02-29', '2008-03-31', '2008-04-30',
       '2008-05-31', '2008-06-30', '2008-07-31', '2008-08-31',
       '2008-09-30', '2008-10-31', '2008-11-30', '2008-12-31',
       '2009-01-31', '2009-02-28', '2009-03-31', '2009-04-30',
       '2009-05-31', '2009-06-30', '2009-07-31', '2009-08-31',
       '2009-09-30', '2009-10-31', '2009-11-30', '2009-12-31',
       '2010-01-31', '2010-02-28', '2010-03-31', '2010-04-30',
       '2010-05-31', '2010-06-30', '2010-07-31', '2010-08-31',
       '2010-09-30', '2010-10-31', '2010-11-30', '2010-12-31',
       '2011-01-31', '2011-02-28', '2011-03-31', '2011-04-30',
       '2011-05-31', '2011-06-30', '2011-07-31', '2011-08-31',
       '2011-09-30', '2011-10-31', '2011-11-30', '2011-12-31',
       '2012-01-31', '2012-02-29', '2012-03-31', '2012-04-30',
       '2012-05-31', '2012-06-30', '2012-07-31', '2012-08-31',
       '2012-09-30', '2012-10-31', '2012-11-30', '2012-12-31',
       '2013-01-31', '2013-02-28', '2013-03-31', '2013-04-30',
       '2013-05-31', '2013-06-30', '2013-07-31', '2013-08-31',
       '2013-09-30', '2013-10-31', '2013-11-30', '2013-12-31',
       '2014-01-31', '2014-02-28', '2014-03-31', '2014-04-30',
       '2014-05-31', '2014-06-30', '2014-07-31', '2014-08-31',
       '2014-09-30', '2014-10-31', '2014-11-30', '2014-12-31',
       '2015-01-31', '2015-02-28', '2015-03-31', '2015-04-30',
       '2015-05-31', '2015-06-30', '2015-07-31', '2015-08-31',
       '2015-09-30', '2015-10-31', '2015-11-30', '2015-12-31',
       '2016-01-31', '2016-02-29', '2016-03-31', '2016-04-30',
       '2016-05-31', '2016-06-30', '2016-07-31', '2016-08-31',
       '2016-09-30', '2016-10-31', '2016-11-30', '2016-12-31',
       '2017-01-31', '2017-02-28', '2017-03-31', '2017-04-30',
       '2017-05-31', '2017-06-30', '2017-07-31', '2017-08-31',
       '2017-09-30', '2017-10-31', '2017-11-30', '2017-12-31',
       '2018-01-31', '2018-02-28', '2018-03-31', '2018-04-30',
       '2018-05-31', '2018-06-30', '2018-07-31', '2018-08-31',
       '2018-09-30', '2018-10-31', '2018-11-30', '2018-12-31',
       '2019-01-31', '2019-02-28', '2019-03-31', '2019-04-30',
       '2019-05-31', '2019-06-30', '2019-07-31', '2019-08-31',
       '2019-09-30', '2019-10-31', '2019-11-30', '2019-12-31',
       '2020-01-31', '2020-02-29', '2020-03-31', 'states_Types_Cat', '0',
       '1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12',
       '13', '14', '15', '16', '17', '18', '19', '20', '21', '22', '23',
       '24', '25', '26', '27', '28', '29', '30', '31', '32', '33', '34',
       '35', '36', '37', '38', '39', '40', '41', '42', '43', '44', '45',
       '46', '47', '48', '49', '50'], dtype=object)

In [45]:
## getting rid of months features  with more than 10% nulls 

drop_col = housing_df.columns[0:120]
drop_col

Index(['2006-01-31', '2006-02-28', '2006-03-31', '2006-04-30', '2006-05-31',
       '2006-06-30', '2006-07-31', '2006-08-31', '2006-09-30', '2006-10-31',
       ...
       '2015-03-31', '2015-04-30', '2015-05-31', '2015-06-30', '2015-07-31',
       '2015-08-31', '2015-09-30', '2015-10-31', '2015-11-30', '2015-12-31'],
      dtype='object', length=120)

In [46]:


housing_df = housing_df.drop(drop_col, axis=1)
housing_df.head(10)

,2016-01-31,2016-02-29,2016-03-31,2016-04-30,2016-05-31,2016-06-30,2016-07-31,2016-08-31,2016-09-30,2016-10-31,...,41,42,43,44,45,46,47,48,49,50
0,548966.0,551506.0,553832.0,557083.0,560110.0,563034.0,565721.0,568673.0,571806.0,574748.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,587711.0,591562.0,593862.0,600103.0,604219.0,608947.0,611310.0,615416.0,620355.0,625774.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,161392.0,162316.0,162904.0,162970.0,163390.0,164033.0,165015.0,165519.0,166004.0,166277.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,215731.0,217645.0,219082.0,220163.0,220675.0,221501.0,222768.0,223935.0,224813.0,226072.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,150020.0,150402.0,151045.0,152099.0,153591.0,154631.0,155071.0,155328.0,155861.0,156324.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,138170.0,138416.0,138653.0,138696.0,138866.0,140059.0,140890.0,141709.0,142214.0,143090.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6,198941.0,200325.0,201281.0,202271.0,203503.0,204900.0,205438.0,206522.0,207699.0,209542.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7,206321.0,208192.0,209035.0,210433.0,211510.0,212977.0,214311.0,215555.0,216733.0,216864.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8,545394.0,547892.0,546702.0,546601.0,548467.0,552595.0,553595.0,557769.0,561389.0,566087.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9,160626.0,161093.0,161597.0,163090.0,164915.0,166986.0,169559.0,171560.0,173585.0,175383.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [47]:
from sklearn.impute import KNNImputer
KNN = KNNImputer()
KNN.fit(housing_df)

KNNImputer()

In [48]:
X = KNN.transform(housing_df)

In [49]:
housing_df = pd.DataFrame(X, columns = housing_df.columns)
housing_df

,2016-01-31,2016-02-29,2016-03-31,2016-04-30,2016-05-31,2016-06-30,2016-07-31,2016-08-31,2016-09-30,2016-10-31,...,41,42,43,44,45,46,47,48,49,50
0,548966.0,551506.0,553832.0,557083.0,560110.0,563034.0,565721.0,568673.0,571806.0,574748.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,587711.0,591562.0,593862.0,600103.0,604219.0,608947.0,611310.0,615416.0,620355.0,625774.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,161392.0,162316.0,162904.0,162970.0,163390.0,164033.0,165015.0,165519.0,166004.0,166277.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,215731.0,217645.0,219082.0,220163.0,220675.0,221501.0,222768.0,223935.0,224813.0,226072.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,150020.0,150402.0,151045.0,152099.0,153591.0,154631.0,155071.0,155328.0,155861.0,156324.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17611,91443.0,91814.0,91475.0,90859.0,90279.0,89396.0,88568.0,87588.0,87114.0,86249.0,...,0.0,0.2,0.0,0.0,0.0,0.0,0.0,0.2,0.0,0.0
17612,36562.4,36601.8,36675.4,36782.4,36873.6,36797.8,36778.2,36684.4,36786.2,36844.2,...,0.0,0.0,0.2,0.0,0.2,0.0,0.0,0.0,0.0,0.0
17613,101731.0,102609.0,103567.0,103141.0,103043.0,104028.0,105183.0,107167.0,107765.0,109617.0,...,0.0,0.0,0.0,0.0,0.4,0.0,0.0,0.0,0.0,0.0
17614,66236.0,66270.0,66382.0,66372.0,66543.0,66025.0,65840.0,65800.0,65968.0,65759.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
17615,141946.0,143210.0,144175.0,144967.0,145785.0,146770.0,147790.0,148617.0,150153.0,153063.0,...,0.0,0.0,0.2,0.2,0.0,0.0,0.0,0.0,0.0,0.0

In [41]:
# housing_df.dropna()

In [50]:
# Define target vector y 
y = housing_df["2020-03-31"].values.reshape(-1, 1)
y[:5]

array([[652307.],
       [752508.],
       [191907.],
       [249152.],
       [187718.]])

In [51]:
# Define features set -- using 2020-03 as y for now 
X = housing_df.copy()
X = X.drop("2020-03-31", axis=1)
X.head()

,2016-01-31,2016-02-29,2016-03-31,2016-04-30,2016-05-31,2016-06-30,2016-07-31,2016-08-31,2016-09-30,2016-10-31,...,41,42,43,44,45,46,47,48,49,50
0,548966.0,551506.0,553832.0,557083.0,560110.0,563034.0,565721.0,568673.0,571806.0,574748.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,587711.0,591562.0,593862.0,600103.0,604219.0,608947.0,611310.0,615416.0,620355.0,625774.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,161392.0,162316.0,162904.0,162970.0,163390.0,164033.0,165015.0,165519.0,166004.0,166277.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,215731.0,217645.0,219082.0,220163.0,220675.0,221501.0,222768.0,223935.0,224813.0,226072.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,150020.0,150402.0,151045.0,152099.0,153591.0,154631.0,155071.0,155328.0,155861.0,156324.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [52]:
X["NAIVE"] = X["2020-02-29"].values.copy()

In [53]:
X.head()

,2016-01-31,2016-02-29,2016-03-31,2016-04-30,2016-05-31,2016-06-30,2016-07-31,2016-08-31,2016-09-30,2016-10-31,...,42,43,44,45,46,47,48,49,50,NAIVE
0,548966.0,551506.0,553832.0,557083.0,560110.0,563034.0,565721.0,568673.0,571806.0,574748.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,653565.0
1,587711.0,591562.0,593862.0,600103.0,604219.0,608947.0,611310.0,615416.0,620355.0,625774.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,744137.0
2,161392.0,162316.0,162904.0,162970.0,163390.0,164033.0,165015.0,165519.0,166004.0,166277.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,190938.0
3,215731.0,217645.0,219082.0,220163.0,220675.0,221501.0,222768.0,223935.0,224813.0,226072.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,248599.0
4,150020.0,150402.0,151045.0,152099.0,153591.0,154631.0,155071.0,155328.0,155861.0,156324.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,187129.0

In [54]:
y_NAIVE = X["NAIVE"].values.reshape(-1, 1)

In [55]:
X.drop(columns="NAIVE",inplace=True)

In [56]:
X

,2016-01-31,2016-02-29,2016-03-31,2016-04-30,2016-05-31,2016-06-30,2016-07-31,2016-08-31,2016-09-30,2016-10-31,...,41,42,43,44,45,46,47,48,49,50
0,548966.0,551506.0,553832.0,557083.0,560110.0,563034.0,565721.0,568673.0,571806.0,574748.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,587711.0,591562.0,593862.0,600103.0,604219.0,608947.0,611310.0,615416.0,620355.0,625774.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,161392.0,162316.0,162904.0,162970.0,163390.0,164033.0,165015.0,165519.0,166004.0,166277.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,215731.0,217645.0,219082.0,220163.0,220675.0,221501.0,222768.0,223935.0,224813.0,226072.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,150020.0,150402.0,151045.0,152099.0,153591.0,154631.0,155071.0,155328.0,155861.0,156324.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17611,91443.0,91814.0,91475.0,90859.0,90279.0,89396.0,88568.0,87588.0,87114.0,86249.0,...,0.0,0.2,0.0,0.0,0.0,0.0,0.0,0.2,0.0,0.0
17612,36562.4,36601.8,36675.4,36782.4,36873.6,36797.8,36778.2,36684.4,36786.2,36844.2,...,0.0,0.0,0.2,0.0,0.2,0.0,0.0,0.0,0.0,0.0
17613,101731.0,102609.0,103567.0,103141.0,103043.0,104028.0,105183.0,107167.0,107765.0,109617.0,...,0.0,0.0,0.0,0.0,0.4,0.0,0.0,0.0,0.0,0.0
17614,66236.0,66270.0,66382.0,66372.0,66543.0,66025.0,65840.0,65800.0,65968.0,65759.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
17615,141946.0,143210.0,144175.0,144967.0,145785.0,146770.0,147790.0,148617.0,150153.0,153063.0,...,0.0,0.0,0.2,0.2,0.0,0.0,0.0,0.0,0.0,0.0

In [ ]:
X

In [57]:
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split

In [73]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train_naive, y_test_naive = train_test_split(X, y_NAIVE, random_state=42)

In [74]:
from sklearn.preprocessing import StandardScaler
# Creating StandardScaler instance
scaler = StandardScaler()
# Fitting Standard Scaller
X_scaler = scaler.fit(X_train)
# Scaling data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [85]:
## run naive y 
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
import numpy as np

lin_reg = LinearRegression()
lin_reg.fit(X_train_scaled,y_train_naive)

housing_predictions = lin_reg.predict(X_test_scaled)
lin_mse = mean_squared_error(y_test_naive, housing_predictions)
lin_rmse = np.sqrt(lin_mse)
lin_rmse

4.559234513680392e-10

In [ ]:
## create regular y

In [89]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train_reg, y_test_reg = train_test_split(X, y, random_state=42)

In [90]:
## run regular y 
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
import numpy as np

lin_reg = LinearRegression()
lin_reg.fit(X_train_scaled,y_train_reg)

housing_predictions = lin_reg.predict(X_test_scaled)
lin_mse = mean_squared_error(y_test_reg, housing_predictions)
lin_rmse = np.sqrt(lin_mse)
lin_rmse

216.5455787326864

In [ ]:
## attempt polynomial

In [68]:
from sklearn.preprocessing import PolynomialFeatures
poly_features = PolynomialFeatures(degree=2, include_bias=False)
X_poly = poly_features.fit_transform(X)
X_poly[0]

array([548966., 551506., 553832., ...,      0.,      0.,      0.])

In [69]:
from sklearn.model_selection import train_test_split
X_train_poly, X_test_poly, y_train, y_test = train_test_split(X_poly, y, random_state=42)

In [77]:
lin_reg = LinearRegression()
lin_reg.fit(X_train_poly, y_train_naive)

LinearRegression()

In [81]:
## try unscaled poly to naive 
y_new =lin_reg.predict(X_test_poly)
lin_mse = mean_squared_error(y_test_naive, y_new)
lin_rmse = np.sqrt(lin_mse)
lin_rmse

65.13341164318885

In [ ]:
this is worse so even second degree polynomail is over fitting

In [ ]:
## try unscaled poly on regular y

In [83]:
lin_reg = LinearRegression()
lin_reg.fit(X_train_poly, y_train)

LinearRegression()

In [84]:
## testing unscaled poly on regular y 


y_new =lin_reg.predict(X_test_poly)
lin_mse = mean_squared_error(y_test, y_new)
lin_rmse = np.sqrt(lin_mse)
lin_rmse

4023.3512093090376

In [ ]:
# scaling poly x

In [86]:
from sklearn.preprocessing import StandardScaler
# Creating StandardScaler instance
scaler = StandardScaler()
# Fitting Standard Scaller
X_scaler = scaler.fit(X_train_poly)
# Scaling data
X_train_scaled_poly  = X_scaler.transform(X_train_poly)
X_test_scaled_poly = X_scaler.transform(X_test_poly)

In [87]:
# try scaled poly on naive 
lin_reg = LinearRegression()
lin_reg.fit(X_train_scaled_poly, y_train_naive)
y_new =lin_reg.predict(X_test_scaled_poly)
lin_mse = mean_squared_error(y_test_naive, y_new)
lin_rmse = np.sqrt(lin_mse)
lin_rmse

4929.387735880871

In [88]:
# try scaled poly on regular y 
lin_reg = LinearRegression()
lin_reg.fit(X_train_scaled_poly, y_train)
y_new =lin_reg.predict(X_test_scaled_poly)
lin_mse = mean_squared_error(y_test, y_new)
lin_rmse = np.sqrt(lin_mse)
lin_rmse

3705742203985.8105

In [91]:
## run regular y 

from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

In [92]:
scaler = StandardScaler()
# Fitting Standard Scaller
X_scaler = scaler.fit(X_train)
# Scaling data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [94]:
lin_reg = LinearRegression()
lin_reg.fit(X_train_scaled,y_train)

housing_predictions = lin_reg.predict(X_test_scaled)
lin_mse = mean_squared_error(y_test, housing_predictions)
lin_rmse = np.sqrt(lin_mse)
lin_rmse

216.5455787326864

In [95]:
from sklearn.model_selection import RandomizedSearchCV
from sklearn.ensemble import RandomForestRegressor
from scipy.stats import randint

In [ ]:

param_distribs = {
        'n_estimators': randint(low=1, high=200),
        'max_features': randint(low=1, high=220),
        'max_depth': randint(low=1, high=6),
    }

forest_reg = RandomForestRegressor(random_state=42)
rnd_search = RandomizedSearchCV(forest_reg, param_distributions=param_distribs,
                                n_iter=10, cv=5, scoring='neg_mean_squared_error', random_state=42)
rnd_search.fit(X_scaled, y)

In [ ]:

cvres = rnd_search.cv_results_
for mean_score, params in zip(cvres["mean_test_score"], cvres["params"]):
    print(np.sqrt(-mean_score), params)

In [ ]:
## taking best model from CV 

final_model = rnd_search.best_estimator_
final_model

In [ ]:
final_predictions = final_model.predict(X_scaled)

final_mse = mean_squared_error(y, final_predictions)
final_rmse = np.sqrt(final_mse)

final_rmse