In [1]:
# Import dependencies
import boto3, os
s3 = boto3.resource('s3')
import botocore.session
session = botocore.session.get_session()
client = session.create_client
import pandas as pd

In [2]:
# Variable for S3 bucket where data is stored on AWS
Bucket_name = 'finalprojectaqw'

In [3]:
# Credentials for AWS access
s3 = boto3.resource(#Insert config file)

SyntaxError: unexpected EOF while parsing (<ipython-input-3-84d4ad8c94d8>, line 2)

In [18]:
# Downloading Linear Regression Predictions
KEY = 'lin_reg_deliverable_2_predictions.csv'
s3.Bucket(Bucket_name).download_file(KEY, 'lin_reg_predictions.csv')

In [19]:
# Reading in the file and checking for proper download
lin_reg_predictions_data = pd.read_csv('lin_reg_predictions.csv')
lin_reg_predictions_data.head()

   Unnamed: 0          0
0           0  653377.50
1           1  748266.75
2           2  191907.00
3           3  248666.00
4           4  188007.25

In [6]:
# Downloading zillow all homes data
KEY = 'City_Zhvi_AllHomes.csv'
s3.Bucket(Bucket_name).download_file(KEY, 'All_homes_zillow.csv')

In [7]:
# Reading in the file and checking for proper download
zillow_data = pd.read_csv('All_homes_zillow.csv')
zillow_data.head()

,Unnamed: 0,RegionID,SizeRank,RegionName,RegionType,StateName,State,Metro,CountyName,1996-01-31,...,2019-06-30,2019-07-31,2019-08-31,2019-09-30,2019-10-31,2019-11-30,2019-12-31,2020-01-31,2020-02-29,2020-03-31
0,0,6181,0,New York,City,NY,NY,New York-Newark-Jersey City,Queens County,196258.0,...,659421.0,659007.0,658239.0,656925.0,655613.0,654394.0,653930.0,653901.0,653565.0,652307.0
1,1,12447,1,Los Angeles,City,CA,CA,Los Angeles-Long Beach-Anaheim,Los Angeles County,185649.0,...,712660.0,713807.0,715688.0,718245.0,721896.0,725180.0,730358.0,735910.0,744137.0,752508.0
2,2,39051,2,Houston,City,TX,TX,Houston-The Woodlands-Sugar Land,Harris County,93518.0,...,186844.0,187464.0,188070.0,188496.0,189125.0,189612.0,190179.0,190395.0,190938.0,191907.0
3,3,17426,3,Chicago,City,IL,IL,Chicago-Naperville-Elgin,Cook County,130920.0,...,248372.0,248646.0,248725.0,248483.0,248278.0,248090.0,248029.0,248220.0,248599.0,249152.0
4,4,6915,4,San Antonio,City,TX,TX,San Antonio-New Braunfels,Bexar County,94041.0,...,182732.0,183350.0,183930.0,184846.0,185490.0,186244.0,186420.0,186962.0,187129.0,187718.0

In [20]:
# Downloading one hot encoded data
KEY = 'trans_with_state1HOT_Zhvi_city.csv'
s3.Bucket(Bucket_name).download_file(KEY, 'trans_Hot.csv')

In [21]:
# Reading in the file and checking for proper download
trans_hot_data = pd.read_csv('trans_Hot.csv')
trans_hot_data.head()

,Unnamed: 0,Unnamed: 0.1,2006-01-31,2006-02-28,2006-03-31,2006-04-30,2006-05-31,2006-06-30,2006-07-31,2006-08-31,...,41,42,43,44,45,46,47,48,49,50
0,0,0,500592.0,506267.0,508485.0,510606.0,513148.0,518144.0,521337.0,524195.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1,1,624755.0,630004.0,636285.0,640154.0,646316.0,650327.0,653364.0,654803.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2,2,128913.0,128924.0,129169.0,129307.0,129793.0,130181.0,130661.0,131035.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,3,3,280994.0,283177.0,284850.0,286799.0,287944.0,288968.0,289628.0,290446.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,4,4,119832.0,120418.0,121067.0,121616.0,122124.0,122762.0,123581.0,124480.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [24]:
# Downloading random forest predictions
KEY = 'random_forest_deliverable_2_predictions.csv'
s3.Bucket(Bucket_name).download_file(KEY, 'rand_for_predictions.csv')

In [25]:
# Reading in the file and checking for proper download
rand_for_pred = pd.read_csv('rand_for_predictions.csv')
rand_for_pred.head()

   Unnamed: 0          0
0           0  653377.50
1           1  748266.75
2           2  191907.00
3           3  248666.00
4           4  188007.25

In [28]:
KEY = 'residences.csv'


s3.Bucket(Bucket_name).download_file(KEY,'residences.csv')

In [29]:
# Reading in the file and checking for proper download
residence_data = pd.read_csv('residences.csv')
residence_data.head()

UnicodeDecodeError: 'utf-8' codec can't decode byte 0xf1 in position 5: invalid continuation byte